body {
/*    background-image: url(file:///Users/aishabikebayeva/Desktop/test-repository/ms-paint-xp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Scrogglet;
    background-position: 50% 50%;
    background-size: 1000px;
    position: fixed;
    top: 20%;
    width: 100%;*/
    font-size: 21px;
    text-align: center;
    display: inline-block;
}

/*.firstpage {
    background-image: url("sun.png");
}*/

@font-face {font-family: Scrogglet; src: url('KGScrogglet.ttf')}
/*#heading-link { 
    color: green;
}*/

.highlight” {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
/*
.heading-link {

}*/

/*.box {
    background: pink;
    padding: 100px;
    margin: 100px;
}*/
.footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
}

.buttonabout {
    float: left;
    background-color: pink;
    color: white;
    border: none;
    position: fixed;    
    top: 15px;
    left: 30px;
    font-size: 18px;
    font-family: Scrogglet;
}

.paragraph {
    background-color: pink;
    padding: 20px;
    border: double;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 20%;
    left: 27%;
    width: 600px;
    display: inline-block;
    */
}
